@model ShelterSiteNET.Models.User

@{
    ViewData["Title"] = "Вход";
}

<div class="min-h-screen flex">
     
    <div class="w-1/2 bg-red-500 flex flex-col items-center text-white p-10">

        <h1 class="text-4xl font-black text-center mb-10 tracking-tight leading-tight">
            Добро пожаловать в приют
            <span class="block mt-2">"Спасённый хвост"</span>
        </h1>

        <img src="~/images/sobakus.png"
             class="w-80 mt-40" />

    </div>
     
    <div class="w-1/2 bg-gray-100 flex justify-center items-center">

        <div class="w-full max-w-md">

            <h2 class="text-4xl font-bold mb-8 text-center">
                Вход
            </h2>
             
            <form method="post" asp-action="Login" class="space-y-5">
                 
                <div asp-validation-summary="All" class="text-red-500 text-sm"></div>

                <div>
                    <label class="block mb-2">Логин</label>
                    <input asp-for="Login" class="w-full border rounded-xl p-3" />
                    <span asp-validation-for="Login" class="text-red-500 text-sm"></span>
                </div>

                <div>
                    <label class="block mb-2">Пароль</label>
                    <input asp-for="Password" type="password" class="w-full border rounded-xl p-3" />
                    <span asp-validation-for="Password" class="text-red-500 text-sm"></span>
                </div>

                <button type="submit" class="w-full bg-red-500 text-white py-3 rounded-xl text-xl">
                    Войти
                </button>
            </form>

            <p class="text-center mt-6">
                Нет аккаунта?

                <a href="/Account/Register"
                   class="text-red-500">
                    Зарегистрироваться
                </a>
            </p>

        </div>

    </div>

</div> 
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}