@{
    ViewData["Title"] = "О разработчике";
}

<div class="bg-white rounded-3xl shadow p-8">

    <h1 class="text-4xl font-bold mb-6">
        О разработчике 
    </h1>

    <p class="text-lg mb-4">
        Проект «Спасённый хвост» разработан студентами 2 курса.
    </p>

    <p class="text-lg mb-4">
        Цель проекта — помочь животным из приюта найти новый дом.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-4">
        Используемые технологии
    </h2>

    <ul class="list-disc ml-6 text-lg space-y-2">
        <li>ASP.NET Core MVC</li>
        <li>C#</li>
        <li>Razor Views</li>
        <li>Tailwind CSS</li>
        <li>GitHub</li>
    </ul>

    <h2 class="text-2xl font-semibold mt-8 mb-4">
        Команда проекта
    </h2>

    <ul class="text-lg space-y-2">
        <li>Алина Бзыкова</li>
        <li>Амина Гатагова</li>
        <li>Сармат Макиев</li>
    </ul>

</div>